@import 'bootstrap/scss/bootstrap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Comical";
}

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .main-pokemon {
    display: flex;
    flex-direction: column;
  }
  
  .header-main-pokemon {
    min-height: 100vh;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-img-pokemon {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 275px;
    height: 275px;
    object-fit: contain;
    z-index: 2;
    top: 50%;
    transform: translate(10px, 30px)
  }
  
  .container-img-pokemon img {
    height: 100%;
    width: 100%;
  }
  
  .container-info-pokemon {
    max-width: 650px;
    width: 95%;
    background-color: white;
    height: 100vh;
    bottom: 0;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-pokemon {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
  }

  .group-info{
    display: flex;
    flex-direction: column;
  }
  
  .group-info p {
    font-weight: 700;
    font-size: 20px;
  }

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 40px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
  text-transform: capitalize;
}
  
  .stat-list {
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }
  
  .progress-bar {
    width: 100%;
    height: 25px;
    background-color: var(--color-primary-hover);
    border-radius: 10px;
    overflow: hidden;
    
    .progress-bar-inner {
      height: 100%;
      background-color: var(--color-primary);
      border-radius: 10px;
      transition: width 0.3s ease-in-out;
    }
  
    &.water {
      background-color: var(--color-water);
    }
    
    &.grass {
      background-color: var(--color-grass);
    }
    
    &.poison {
      background-color: var(--color-poison);
    }
    
    &.fire {
      background-color: var(--color-fire);
    }
    
    &.bug {
      background-color: var(--color-bug);
    }
    
    &.dragon {
      background: var(--color-dragon);
    }
    
    &.flying {
      background-color: var(--color-flying);
    }
    
    &.ground {
      background-color: var(--color-ground);
    }
    
    &.steel {
      background-color: var(--color-steel);
    }
    
    &.psychic {
      background-color: var(--color-psychic);
    }
    
    &.ice {
      background-color: var(--color-ice);
    }
    
    &.ghost {
      background-color: var(--color-ghost);
    }
    
    &.normal {
      background-color: var(--color-normal);
    }
    
    &.rock {
      background-color: var(--color-rock);
    }
    
    &.electric {
      background-color: var(--color-electric);
    }
    
    &.fighting {
      background-color: var(--color-fighting);
    }
    
    &.fairy {
      background-color: var(--color-fairy);
    }
    
    &.dark {
      background-color: var(--color-dark);
    }    
  } 

  .container-loader{
    display: flex;
    justify-content: center;
    margin: 200px 0;
  }